<a href="https://colab.research.google.com/github/NishchalSrinarayanan/WeatherAndStockCode/blob/main/proj-pt1(nograph).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import sqlite3
import requests


api_key = "WFGXXTG1LQWDEUA2"
symbol = "IBM"


url = f"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={symbol}&apikey={api_key}"
data = requests.get(url).json()


time_series = data.get("Time Series (Daily)", {})

conn = sqlite3.connect("stocks.db")
cursor = conn.cursor()


cursor.execute("""
    CREATE TABLE stocks (
        date TEXT,
        open DECIMAL,
        high DECIMAL,
        low DECIMAL,
        close DECIMAL,
        volume DECIMAL
    )
""")

for date, values in time_series.items():
    cursor.execute("""
        INSERT INTO stocks (date, open, high, low, close, volume)
        VALUES (?, ?, ?, ?, ?, ?)
    """, (
        date,
        float(values["1. open"]),
        float(values["2. high"]),
        float(values["3. low"]),
        float(values["4. close"]),
        int(values["5. volume"])
    ))

# Commit and close connection
conn.commit()
conn.close()

In [8]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("stocks.db")
cursor = conn.cursor()
cursor.execute("SELECT * FROM stocks;")

# Fetch all data
data = cursor.fetchall()

# Get column names
columns = [description[0] for description in cursor.description]

# Create pandas DataFrame
df = pd.DataFrame(data, columns=columns)

# Print the DataFrame (which displays as a table)
print(df)

          date    open     high      low   close   volume
0   2025-03-27  249.71  250.300  245.725  246.21  2889328
1   2025-03-26  251.25  254.320  249.530  250.34  4452220
2   2025-03-25  248.36  250.900  248.200  249.90  3133809
3   2025-03-24  247.31  248.820  245.965  248.45  4753331
4   2025-03-21  241.69  245.205  238.500  243.87  9580084
..         ...     ...      ...      ...     ...      ...
95  2024-11-06  213.48  214.330  210.370  213.60  3934386
96  2024-11-05  206.17  208.115  205.570  207.57  2441535
97  2024-11-04  207.65  207.700  205.800  206.32  2594119
98  2024-11-01  207.77  209.840  207.410  208.25  3334308
99  2024-10-31  204.13  208.130  203.510  206.72  5925250

[100 rows x 6 columns]